

body {
  position: relative;
  background-color: $white;
}

button,
.button {
  padding: 12px 23px;
  color: $mediumGray;
  background-color: $white;
  border: solid 1px $darkGray;
  box-shadow: 0px 1px 6px #00000029;
  font-family: 'Montserrat', sans-serif;
}

.container {
  width: 90%;
  margin: 0 auto;
}

