
.header {
  width: 100%;
  height: 24.875rem; // 398px
  position: relative;
  overflow: hidden;

  &::before {
    z-index: -1;
    content: "";
    width: 150%;
    height: 150%;
    position: absolute;
    background-color: $darkGray;
    transform: translateY(-40%) skewY(15deg);
  }

  &__container {
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
  }

  // estilização dos textos e titulo da header
  &__text {
    display: flex;
    flex-direction: column;
  }

  &__paragraph {
    color: $white;
    font-size: 1.25rem;
    font-weight: normal;
    font-family: 'Josefin Sans', sans-serif;
  }
  
  &__title {
    color: $white;
    font-size: 2.5rem;
    font-family: 'Alata', sans-serif;
  }
  
  &__subtitle {
    color: $white;
    margin: 1rem 0;
    line-height: 1.5;
    font-size: .875rem;
    font-weight: normal;
    font-family: 'Montserrat', sans-serif;
  }



  &__buttons {
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    justify-content: space-around;
  }

  &__button {
    width: 10rem;
    height: 2.5rem;
    margin: .5rem 0;
    border-radius: 4px;
    font-size: .75rem;

    display: flex;
    align-items: center;
    justify-content: center;
  }
}
