
.greetings {
  display: flex;
  flex-direction: column;

  &__title {
    font-weight: 500;
    color: $mediumGray;
    font-size: 1.75rem;
    font-family: 'Josefin Sans', sans-serif;
  }

  &__paragraph {
    font-weight: 600;
    font-size: .75rem;
    color: $mediumGray;
    margin-top: .5625rem;
    font-family: 'Montserrat', sans-serif;
  }
}
