
.share {
  margin-top: 8.0625rem;

  &__linebackground {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('../../assets/images/707070-1.png') center repeat-x;
  }

  &__title {
    color: $mediumGray;
    padding: 0 1.375rem;
    font-size: 1.125rem;
    background-color: $white;
    font-family: 'Josefin Sans', sans-serif;
  }

  &__paragraph {
    font-size: .875rem;
    text-align: center;
    margin-top: 1.75rem;
    font-family: 'Montserrat', sans-serif;

    @include breakpoint-up (desktop) {
      margin-top: 2.75rem;
    }
  }

  &__form {
    display: flex;
    align-items: stretch;
    flex-direction: column;
    margin-top: 1.75rem;
  }

  &__flex {
    display: flex;
    align-items: center;
    justify-content: stretch;
    flex-direction: column;

    @include breakpoint-up (desktop) {
      flex-direction: row;
      justify-content: center;
    }
  }

  &__infolabel {
    color: $mediumGray;
    width: 100%;
    height: 3.1875rem;
    display: flex;
    font-size: .75rem;
    font-weight: 600;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Montserrat', sans-serif;

    @include breakpoint-down (tablet) {
      &:not(:first-child) {
        margin-top: 1.25rem;
      }
    }

    @include breakpoint-up (desktop) {
      flex: 0 21.25rem;

      &:not(:first-child) {
        margin-left: 2.5rem;
      }
    }

    input {
      height: 1.875rem;
      padding-left: .5rem;
    }
  }

  &__button {
    width: 16.25rem;
    height: 2.4375rem;
    margin-top: 2.625rem;
    align-self: center;
  }
}
